# ReactiveCocoa
github "ReactiveCocoa/ReactiveCocoa" ~> 7.0

# Masonry
github "SnapKit/SnapKit" ~> 4.0.0

# Cocoa Lumberjack
github "CocoaLumberjack/CocoaLumberjack"

# Database library SQLite.swift
github "stephencelis/SQLite.swift" ~> 0.11.4
